<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="about.component.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    
    </head>

    <body>
        
        <header>
            <div class="top">
                <div class="logo">
                    <h1 class="uppercase">lava</h1>
                </div> 
                <div class="nav-menu uppercase">
                    <ul>
                        <li><a href="../home/home.component.html">home</a></li>
                        <li><a href="../about/about.component.html" class="active">about</a></li>
                        <li><a href="#">testimonials</a></li>
                        <li><a href="#">drop down</a></li>
                        <li><a href="#">contact us</a></li>
                    </ul>
                </div> 
            </div>
        </header>
        
    </body>
</html>

