body{
    margin:0;
}

.top .logo h1{
    padding:0px 200px 200px 120px;
    display:inline-block;
}

.uppercase{
    text-transform: uppercase;
}

.top{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    height:80px;
}

.top .nav-menu ul{
    list-style: none;
    margin-left: 350px;
    margin-top: -260px;
    width:45%;
}

.top .nav-menu ul li{
    display:inline-block;
    padding:10px 20px 10px 20px;
}

.top .nav-menu ul li a{
    text-decoration: none;
    color: #191a20;
    font-size: 13px;
}

.top .nav-menu ul li a:hover , .active {
    color:#f4813f ;
}

.top{
    
}