<header>
    <div class="top">
        <div class="logo">
            <h1 class="uppercase">lava</h1>
        </div>
        <div class="nav-menu uppercase">
            <ul>
                <li><a href="#" class="active">home</a></li>
                <li><a href="#aboutus">about</a></li>
                <li><a href="#testimonial">testimonials</a></li>
                <li>
                    <div class="dropdown">
                        <a href="#aboutus" class="nav-link color">DROP DOWN
                            <i class="fa fa-caret-down"></i>
                            <div class="dropdown-content uppercase"><br>
                                <a href="#" class="drop-down-list">ABOUT US</a><br><br>
                                <a href="#" class="drop-down-list">FEATURES</a><br><br>
                                <a href="#" class="drop-down-list">FAQ'S</a><br><br>
                                <a href="#" class="drop-down-list">BLOG</a><br><br>
                            </div>
                        </a>
                    </div>
                </li>
                <li><a href="#contact">contact us</a></li>
            </ul>
        </div>
        <div class="top-content">
            <h1>Simple App <br>that we <em>CREATE</em></h1>
            <p>
                Lava <a href="#">HTML landing page</a> template is provided by<br>
                <a href="#">TemplateMo.</a> You can modify and use it for your<br>
                commercial websites for free of charge. This<br>
                template is last updated on 29 Oct 2019.
            </p>
            <a href="#" class="main-btn">KNOW US BETTER</a>
        </div>
    </div>
</header>

<!--About-->
<div class="about" id="aboutus">
    <div class="about1">
        <h2>01</h2>
        <img src="assets/images/features-icon-1.png">
        <h4>Trend Analysis</h4>
        <p>
            Curabitur pulvinar vel odio sed <br>
            sagittis. Nam maximus ex diam, nec <br>
            consectetur diam.
        </p>
        <a href="#">READ MORE</a>
    </div>

    <div class="about1">
        <h2>02</h2>
        <img src="assets/images/features-icon-2.png">
        <h4>Site Optimization</h4>
        <p>
            Curabitur pulvinar vel odio sed <br>
            sagittis. Nam maximus ex diam, nec <br>
            consectetur diam.
        </p>
        <a href="#">DISCOVER MORE</a>
    </div>

    <div class="about1">
        <h2>03</h2>
        <img src="assets/images/features-icon-3.png">
        <h4>Email Design</h4>
        <p>
            Curabitur pulvinar vel odio sed <br>
            sagittis. Nam maximus ex diam, nec <br>
            consectetur diam.
        </p>
        <a href="#">MORE DETAIL</a>
    </div>

    <!--About background -->
    <div class="about-background">
        <img src="../../assets/images/left-image.png">
    </div>
    <!--About background End-->

    <!--About background Content-->
    <div class="about-background-content">
        <div class="about-img-content">
            <img src="assets/images/about-icon-01.png">
            <div class="about-content1">
                <h2>Vestibulum pulvinar rhoncus</h2>
                <p>
                    Please do not redistribute this template ZIP file for a <br>
                    download purpose. You may <a href="#">contact</a> us for additional <br>
                    licensing of our template or to get a PSD file.
                </p>
            </div>
        </div>

        <div class="about-img-content">
            <img src="assets/images/about-icon-02.png">
            <div class="about-content1">
                <h2>Sed blandit quam in velit</h2>
                <p>
                    You can <a href="#">download Lava Template</a> from our website.<br>
                    Duis viverra, ipsum et scelerisque placerat, orci <br>
                    magna consequat ligula.
                </p>
            </div>
        </div>

        <div class="about-img-content">
            <img src="assets/images/about-icon-03.png">
            <div class="about-content1">
                <h2>Aenean faucibus venenatis</h2>
                <p>
                    Phasellus in imperdiet felis, eget vestibulum nulla.<br>
                    Aliquam nec dui nec augue maximus porta. Curabitur<br>
                    tristique lacus.
                </p>
            </div>
        </div>
    </div>
    <!--About background Content End-->
</div>
<!--About-->

<!--Tesimonials-->
<div class="testimonials" id="testimonial">
    <div class="right-background">
        <div class="testimonials-title">
            <h1>What They Think <em>About Us</em></h1>
            <p>
                Suspendisse vitae laoreet mauris. Fusce a nisi dapibus, euismod purus non, convallis odio. Donec<br>
                vitae magna ornare, pellentesque ex vitae, aliquet urna.
            </p>
        </div>
        <div class="slider">
            <div class="slider1">
                <img src="assets/images/testimonial-author-1.png">
                <div class="slider1-content">
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <h2>Jonathan Smart</h2>
                    <p>“Nullam hendrerit, elit a semper pharetra,<br>
                        ipsum nibh tristique tortor, in tempus<br>
                        urna elit in mauris.”</p>
                    <span>Besta CTO</span>
                </div>
            </div>

            <div class="slider1 slider2">
                <img src="assets/images/testimonial-author-1.png">
                <div class="slider1-content">
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <h2>Martino Tino</h2>
                    <p>“Nullam hendrerit, elit a semper pharetra,<br>
                        ipsum nibh tristique tortor, in tempus<br>
                        urna elit in mauris.”</p>
                    <span>Web Analyst</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Tesimonials End-->

<!--Contact Us-->
<div class="contactus" id="contact">
    <div class="contact-img">
        <form>
            <input type="text" placeholder="Full Name" required>
            <input type="email" placeholder="E-Mail Address" required><br>
            <textarea placeholder="Your Message"></textarea>
            <button type="submit">SEND MESSAGE NOW</button>
        </form>
        <div class="contactus-content">
            <h1>More About <em>Lava</em></h1>
            <p>
                Phasellus dapibus urna vel lacus accumsan, iaculis eleifend leo auctor.<br>
                Duis at finibus odio. Vivamus ut pharetra arcu, in porta metus.<br>
                Suspendisse blandit pulvinar ligula ut elementum.
            </p>
            <p>
                If you need this contact form to send email to your inbox, you may<br>
                follow our contact page for more detail.
            </p>
            <ul class="socialmedia">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
        </div>
        <hr>
        <p class="Copyright">Copyright © 2020 Lava Landing Page | Designed by TemplateMo</p>
    </div>
</div>
<!--Contact Us End-->